@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-title {
  font-family: 'MarkW01-Heavy' sans-serif;
}

.logo-header {
  position: absolute;
  left: 43%;
}

.watch-item {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 41px;
}
